.App {
  text-align: center;
  background-color: #f7f9fc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  max-width: 600px;
  margin: auto;
}

.App-header h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
}

.App-header p {
  font-size: 1.2em;
  margin: 1em 0;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  font-size: 1.2em;
  margin-top: 1.5em;
  border: 2px solid #61dafb;
  padding: 0.5em 1em;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.App-link:hover {
  background-color: #61dafb;
  color: #282c34;
}
