.home-page {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .home-header {
    background-color: #46321b;
    color: rgb(255, 255, 255);
    padding: 50px 20px;
  }
  
  .categories {
    padding: 20px;
  }

  .h22 {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    color: #030303;
  }
  
  .category-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .category-item {
    background-color: #030303;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 200px;
  }
  
  .category-item h3 {
    color: #fab700;
  }

  p{
    color: #ddd;
  }
  
  .home-footer {
    background-color: #b34343;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  